In [1]:
a=0
print(a)

a=3*5
print(a)

b="Hello, world!"
print(b)

c=5/0.7142857142857143
print(c)

0
15
Hello, world!
7.0

In [2]:
print("Which type of variable are each of them? ")
print("variable a is ", type(a))
print("variable b is ", type(b))
print("variable c is ", type(c))

Which type of variable are each of them?
variable a is  <class 'int'>
variable b is  <class 'str'>
variable c is  <class 'float'>

In [5]:
a=int(1)
b=float(1)

print(a)
print(type(a))
print(b)
print(type(b))

1
<class 'int'>
1.0
<class 'float'>

In [6]:
print(abs(-4))
print(abs(4.6))

4
4.6

In [9]:
sci = 12e+17 + 12e+16
print(sci)
sci2 = 12.0e+17 + 12.0e+16
print(sci2)

1.32e+18
1.32e+18

In [10]:
z = 4 + 3j
w = 1 - 16j

print(type(z))
print(z + w)
print(z * w)

print() # just to seperate out our results

print(abs(z)) # the abs() function takes the modulus of the complex number

print()

print(z.real) # returns the real part of z
print(w.imag) # returns the complex part of w

<class 'complex'>
(5-13j)
(52-61j)

5.0

4.0
-16.0

In [11]:
word = 'hello'
phrase = 'how are you?'

whole = word + ', ' + phrase

print(type(word))
print(phrase)
print(whole)

print((word + ' ')*3)

print('hello,\nhow are you?')

<class 'str'>
how are you?
hello, how are you?
hello hello hello
hello,
how are you?

In [14]:
state = 'up'
prob = .8152

text = 'the state was found to be in the %s state with probability %.2f' % (state, prob)

print(text)
#we also have f-strings and concatenations with the ',' in the print()

the state was found to be in the up state with probability 0.82

In [15]:
word = 'hello'

letter = word[0] 
# notice that in python numbering starts at 0, 
# this notation will be discussed further in the next section on data structures

print(letter)

h

In [16]:
longer_string = 'hello, this is a longer string'

print(longer_string[7:14]) 
# slices off the section between character 7 (including) 
# and 14 (not including) 

print('\n') # just to seperate our outputs a bit

print(longer_string[:14]) 
print(longer_string[7:]) 
# if the first or second argument is neglected 
# the default value will be 0 and the end of 
# the string respectively.

print('\n')

print(longer_string[7:14:2]) # skips every second character, so prints 7, 9, 11, and 13

print(longer_string[::-1]) # prints backwards

this is


hello, this is
this is a longer string


ti s
gnirts regnol a si siht ,olleh

In [17]:
print(longer_string.split()[1])

this

In [20]:
print(a)
a #this only works in a python notebook, but in a pure python script it would not work

1

1

In [21]:
print(type(None))
print(None == False)
print(None == 0)
print(None == '')
print(None == None)

<class 'NoneType'>
False
False
False
True

In [22]:
mytuple = (4.1, 6.626e-34, -3, 6.6)

print(type(mytuple))
print(mytuple)
print(mytuple[2])

x, y, z, q = mytuple

print("x =", x) # can print muplitple things with spaces between them in this way
print("y =", y)
print("z =", z)
print("q =", q)

<class 'tuple'>
(4.1, 6.626e-34, -3, 6.6)
-3
x = 4.1
y = 6.626e-34
z = -3
q = 6.6

In [24]:
#Sets
L = [7.0,8.0,9.0] #Is a list
M = {1.0,5.0,9.0,7.0} #Is a set

L = set(L) #recasting list as a set with the same elements

un = L.union(M)#Returns a union set of the two sets
inter = L.intersection(M)#Returns the intersection of the two sets

print(un)
print(inter)

print(L.difference(M))#Returns elements in L that are not in the M

print(L.symmetric_difference(M))#Returns elements that are only in one of the sets

print(L.issubset(M))#Checks if L is a subset of the M

print(L.isdisjoint(M))#Checks if L is a disjoint of the M

print(L.issuperset(M))#Checks if L is a superset of the M

{1.0, 5.0, 7.0, 8.0, 9.0}
{9.0, 7.0}
{8.0}
{1.0, 5.0, 8.0}
False
False
False

In [25]:
#For indentation NO TAB, instead 4 spaces
try:
    # Code that may raise an exception
    x = 3 / 0
    print(x)
except:
    # exception occurs, if code under try throws error
    print("An exception occurred.")

An exception occurred.

In [26]:
a = [1,2,3,4] # doesn't matter if these are tuples or lists
b = ('one', 'two', 'three')

c = zip(a,b)

print(type(c))

print(tuple(c)) # we can't directly print zip type objects so we cast them into a 
#tuple (or list) to see their contents

<class 'zip'>
((1, 'one'), (2, 'two'), (3, 'three'))

In [27]:
names = ["Alice", "Bob", "Charlie"]
ages = [25, 30, 35]
cities = ["New York", "San Francisco", "Chicago", "Lisbon"] # Notice cities has an extra element

# Zipping three lists
for name, age, city in zip(names, ages, cities):
  print(f"{name}, {age}, lives in {city}.")

Alice, 25, lives in New York.
Bob, 30, lives in San Francisco.
Charlie, 35, lives in Chicago.

In [28]:
QM_Constants = {
    'planck' : 6.62607015e-34,
    'speed of light' : 299792458,
    'pi' : 3.14159265359}

for i in QM_Constants: # will iterate over keys of the dictionary
    print(i,'->',QM_Constants[i])

print('\n')

for i,j in QM_Constants.items(): # .items() makes the dictionary an iterator of two object tuples
    print(i,'->',j)

planck -> 6.62607015e-34
speed of light -> 299792458
pi -> 3.14159265359


planck -> 6.62607015e-34
speed of light -> 299792458
pi -> 3.14159265359

In [29]:
#Examples of compact coding

In [31]:
a = 10
b = 20

if a < b:
    c='less than'
elif a>b:
    c='greater than'
else:
    c='equal to'
    
print('a is', c, 'b')

# Using one-line if-elif-else

print('a is', 'less than' if a<b else 'greater than' if a>b else 'equal to', 'b')

a is less than b
a is less than b

In [32]:
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)
# Using one-line for loop
[print(fruit) for fruit in fruits]

apple
banana
cherry
apple
banana
cherry

[None, None, None]

In [33]:
# Traditional way to create a list
l=[]
for i in range(11):
    l.append(i)  
print(l)

# Using list comprehension
l = [i for i in range(11)]
print(l)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [35]:
# List comprehension with a condition
l = [i for i in range(11) if i%2==0]
print(l)

# Another example
words = ['zero','one','two','three','four','five','six','seven','eight','nine','ten']
l = [i if i%4==0 else words[i] for i in range(11) if i%2==0]
print(l)

# Example using set comprehension
s = {i%3 for i in range(30)}
print(s)

# Example using dictionary comprehension
d = {i:words[i] for i in range(11) if i%2==0}
print(d)

# Another example using dictionary comprehension
nums = [i for i in range(11)]
d = {word:num for word,num in zip(words,nums)}
print('d =',d)
d_even = {word:num for word,num in d.items() if num%2==0}
print('d_even =',d_even)


#### Take a slower look to these examples

[0, 2, 4, 6, 8, 10]
[0, 'two', 4, 'six', 8, 'ten']
{0, 1, 2}
{0: 'zero', 2: 'two', 4: 'four', 6: 'six', 8: 'eight', 10: 'ten'}
d = {'zero': 0, 'one': 1, 'two': 2, 'three': 3, 'four': 4, 'five': 5, 'six': 6, 'seven': 7, 'eight': 8, 'nine': 9, 'ten': 10}
d_even = {'zero': 0, 'two': 2, 'four': 4, 'six': 6, 'eight': 8, 'ten': 10}

In [36]:
name = input("Enter your name: ")
print("Hello, " + name)

Enter your name:  Javier

Hello, Javier

In [37]:
name = input('Enter your name: ')

Enter your name:  Javier

In [38]:
entry = input('enter space seperated integers: ')

l = entry.split()

for i in range(len(l)):
    l[i] = int(l[i])

print(l)

enter space seperated integers:  3 4 6 8 7 4 6

[3, 4, 6, 8, 7, 4, 6]

In [42]:
with open('test.txt', 'r') as f:
    data = f.read()
print(type(data))
print(data)
# r is for reading
# w would br for writing

<class 'str'>
Hello!
You are reading this text file.
This file has a number of lines of text.

Also some empty lines.



Thanks for reading!

In [41]:
with open('test.txt','r') as f:
    for line in f:
        for letter in line:
            print(letter)

H
e
l
l
o
!


Y
o
u

a
r
e

r
e
a
d
i
n
g

t
h
i
s

t
e
x
t

f
i
l
e
.


T
h
i
s

f
i
l
e

h
a
s

a

n
u
m
b
e
r

o
f

l
i
n
e
s

o
f

t
e
x
t
.




A
l
s
o

s
o
m
e

e
m
p
t
y

l
i
n
e
s
.








T
h
a
n
k
s

f
o
r

r
e
a
d
i
n
g
!

In [43]:
with open('output.txt', 'w') as f:
    f.write("Hello, World!")

In [44]:
l = [i**2 for i in range(11)]
print(l)
with open('new_file.txt','w') as nf:
    for j in l:
        nf.write(str(j)+',')
        
with open('new_file.txt','r') as nf:
    print(nf.read())

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
0,1,4,9,16,25,36,49,64,81,100,